<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>Mechanicum - Car service garage Website </title>
    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>

<body>
<div class="wrapper">

    <!-- Menu Bar Start -->
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>
    <!-- Menu Bar End -->

    <!-- Carousel Start -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="Carousel Image" th:src="@{/img/home-picture-1.jpg}">
                <div class="carousel-caption">
                    <p class="animated fadeInRight">We Are Professional</p>
                    <h1 class="animated fadeInLeft">Mechanics / Tools / Components</h1>
                </div>
            </div>

            <div class="carousel-item">
                <img alt="Carousel Image" th:src="@{/img/home-picture-2.jpg}">
                <div class="carousel-caption">
                    <p class="animated fadeInRight">We Are Reliable</p>
                    <h1 class="animated fadeInLeft">We Know What And How</h1>
                </div>
            </div>

            <div class="carousel-item">
                <img src="../static/img/carousel-3.jpg" alt="Carousel Image" th:src="@{/img/home-picture-3.jpg}">
                <div class="carousel-caption">
                    <p class="animated fadeInRight">We Are Trusted</p>
                    <h1 class="animated fadeInLeft">We Will Take Care Of Your Precious</h1>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Carousel End -->

    <!-- Feature Start -->
    <div class="feature wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-worker"></i>
                        </div>
                        <div class="feature-text">
                            <h3 th:text="#{feature.workers.title}">Expert Worker</h3>
                            <p th:text="#{feature.workers.text}">Lorem ipsum dolor sit amet elit. Phasus nec pretim
                                ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="feature-text">
                            <h3 th:text="#{feature.quality.title}">Quality Work</h3>
                            <p th:text="#{feature.quality.text}">Lorem ipsum dolor sit amet elit. Phasus nec pretim
                                ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="feature-text">
                            <h3 th:text="#{feature.supp.title}">24/7 Support</h3>
                            <p th:text="#{feature.supp.text}">Lorem ipsum dolor sit amet elit. Phasus nec pretim ornare
                                velit non</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="../static/img/about2.jpg" alt="Image" th:src="@{/img/about2.jpg}">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p th:text="#{about.welcome.title}">Welcome to Mechanicum</p>
                        <h2 th:text="#{about.welcome.subtitle}">25 Years Experience</h2>
                    </div>
                    <div class="about-text">
                        <p th:text="#{about.welcome.text.first}">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur
                            facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum,
                            viverra quis sem.
                        </p>
                        <p th:text="#{about.welcome.text.second}">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur
                            facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum,
                            viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur
                            convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Fact Start -->
    <div class="fact">
        <div class="container-fluid">
            <div class="row counters">
                <div class="col-md-6 fact-left wow slideInLeft">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="flaticon-worker"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up" th:text="${allEmployeesCount}">109</h2>
                                <p>Expert Workers</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fa-icons fas fa-users"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up" th:text="${customersCount}">485</h2>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 fact-right wow slideInRight">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fa-icons fas fa-tools"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up" th:text="${serviceTypes}">789</h2>
                                <p>Offered services</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fa-icons fas fa-truck"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up" th:text="${vehicleCount}">890</h2>
                                <p>Vehicles serviced</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->

    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p th:text="#{our.service.over.title}">Our Services</p>
                <h2 th:text="#{our.service.title}">We Provide Services</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-1.jpg" alt="Image" th:src="@{/img/general-checkup.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.first.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.first.title}">Building Construction</h3>
                            <a class="btn" href="../static/img/service-1.jpg" data-lightbox="service"
                               th:href="@{/img/general-checkup.jpg}">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-2.jpg" alt="Image" th:src="@{/img/change-tires.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.second.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.second.title}">House Renovation</h3>
                            <a class="btn" data-lightbox="service"
                               th:href="@{/img/change-tires.jpg}">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-3.jpg" alt="Image" th:src="@{/img/carwash2.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.third.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.third.title}">Architecture Design</h3>
                            <a class="btn" href="../static/img/service-3.jpg" data-lightbox="service"
                               th:href="@{/img/carwash2.jpg}">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-4.jpg" alt="Image" th:src="@{/img/car-painting.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.fourth.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.fourth.title}">Interior Design</h3>
                            <a class="btn" href="../static/img/service-4.jpg" data-lightbox="service"
                               th:href="@{/img/car-painting.jpg}">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-5.jpg" alt="Image" th:src="@{/img/test-drive.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.fifth.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.fifth.title}">Fixing & Support</h3>
                            <a class="btn" href="../static/img/service-5.jpg" data-lightbox="service"
                               th:href="@{/img/test-drive.jpg}">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="../static/img/service-6.jpg" alt="Image" th:src="@{/img/interior-change.jpg}">
                            <div class="service-overlay">
                                <p th:text="#{our.service.sixth.text}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.
                                    Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id
                                    gravida condimentum, viverra quis sem.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3 th:text="#{our.service.sixth.title}">Painting</h3>
                            <a class="btn" href="../static/img/service-6.jpg" data-lightbox="service"
                               th:href="@{/img/interior-change.jpg}">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn nav-item nav-link" href="#" th:href="@{/services}" th:text="#{menu.use.services.types}">Offered
                services</a>
        </div>
    </div>
    <!-- Service End -->

    <!-- Video Start -->
    <div class="video wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <button type="button" class="btn-play" data-toggle="modal"
                    data-src="https://www.youtube.com/embed/Aio6BUf4uW8" data-target="#videoModal">
                <span></span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video End -->

    <!-- FAQs Start -->
    <div class="faqs">
        <div class="container">
            <div class="section-header text-center">
                <p>Frequently Asked Question</p>
                <h2>You May Ask</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="accordion-1">
                        <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                    How do I get to Mechanicum?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    You either get to Mars or just use Google maps like any other sane person in the
                                    world and type in Mechanicum.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                    Do you need an appointment?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    While an appointment is not required, it does assist us in managing the work load
                                    and providing better customer service.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                    What are your working hours?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    Mon - Sat, 8:00 - 19:00, but you can call or email us and our nonstop support will
                                    assist you.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                    What is the experience of team working on my car?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    Our team is headed by Mr. Crowe, an industry veteran followed by internationally
                                    exposed technical staffs.
                                    Cumulatively 50 years of industry experience and knowledge. We have also worked with
                                    authorized dealers like
                                    Honda, Toyota, Tata, GM, Nissan and Maruti, etc.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                    How do you ensure paint matching?
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    We have our own paint library with shade cards of all OEMs and skilled and certified
                                    paint
                                    matcher executive to ensure that exact colour is matched. We guarantee paint
                                    matching.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="accordion-2">
                        <div class="card wow fadeInRight" data-wow-delay="0.1s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                    My car is not drivable can I have it towed to your shop?
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    Yes, you can. We offer 24-hour towing services,
                                    which will get your car or truck to one of our location safely and securely.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.2s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                    How Much warranty I can expect?
                                </a>
                            </div>
                            <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    For Paint & body repair related work it is 1 year warranty. From the date of work
                                    completion, Mechanicum gives one-year
                                    paint warranty on the panels we work on. The warranty is against fading/ peeling/
                                    bubble creation. However, this warranty
                                    does not hold for any physical damage, accident, use of poor quality material for
                                    cleaning or watermarks.
                                    For Mechanical related work we provide warranty of 2-month / 2,000- KM (whichever
                                    comes first).
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                    How do I know if the replaced part is genuine and new?
                                </a>
                            </div>
                            <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    We have tie-up with major vendors and dealers for getting the genuine part. We only
                                    use authentic parts for replacement.
                                    Also, we can provide you with any box, bill of the replaced part if you need it
                                    anytime.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.4s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                    Is price inclusive of taxes?
                                </a>
                            </div>
                            <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    Yes for the services provided. Where ever additional part required the same will be
                                    communicated by our executive.
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.5s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                    When will I get my car back?
                                </a>
                            </div>
                            <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    We understand that a car is an integral part of your life and we do our best to
                                    deliver the car back at the earliest.
                                    But we never compromise on quality. You will receive an email notification when your
                                    vehicle is ready for pickup.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs End -->

    <!-- Testimonial Start -->
    <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-slider-nav">
                        <div class="slider-nav"><img src="../static/img/testimonial-1.jpg"
                                                     th:src="@{/img/testimonial-1.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-2.jpg"
                                                     th:src="@{/img/testimonial-2.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-3.jpg"
                                                     th:src="@{/img/testimonial-3.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-4.jpg"
                                                     th:src="@{/img/testimonial-4.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-1.jpg"
                                                     th:src="@{/img/testimonial-1.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-2.jpg"
                                                     th:src="@{/img/testimonial-2.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-3.jpg"
                                                     th:src="@{/img/testimonial-3.jpg}" alt="Testimonial"></div>
                        <div class="slider-nav"><img src="../static/img/testimonial-4.jpg"
                                                     th:src="@{/img/testimonial-4.jpg}" alt="Testimonial"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-slider">
                        <div class="slider-item">
                            <h3>James Aldrick</h3>
                            <h4>Software engineer</h4>
                            <p>I just had the best car buying experience of my life! Mechanicum were extremely helpful
                                and knowledgeable about EV's and
                                helped me make the choice between 3 different cars! I also got such a great deal on
                                services for the next year on my new Chevy Bolt!</p>
                        </div>
                        <div class="slider-item">
                            <h3>Natalia Ortega</h3>
                            <h4>Hotel Manager</h4>
                            <p>Cory Phelps at Mechanicum is super knowledgeable about the product and the process. We
                                test drove a Bolt
                                (Premiere trim on Cory's recommendation) on Saturday, and fell in love with the peppy
                                drive, the roomy cabin,
                                and the heated steering wheel. No hassle, no back and forth, just straight-forward and
                                friendly service.</p>
                        </div>
                        <div class="slider-item">
                            <h3>Harvey Elmort</h3>
                            <h4>Logistics Manager</h4>
                            <p>F350 6.0 I can't say enough great things about this shop! From the first phone call til
                                the final pickup of my truck and everything
                                in between was an absolute delight. The owners were extremely accommodating and
                                extremely knowledgeable. I was kept up to date with my
                                repairs and the final explanation of everything was in depth and made me feel as though
                                they really cared. I had taken my F350 to a
                                dealership twice before for the same issue and it wasn't fixed and they didn't care. I
                                know now that my truck is good to go and
                                I won't have the issue anymore. Thank you Mechanicum for your speedy and honest repairs
                                on my truck!</p>
                        </div>
                        <div class="slider-item">
                            <h3>Katarina deLaCour</h3>
                            <h4>Accounting firm CEO</h4>
                            <p>I am really pleased with the service at Mechanicum. They have quality customer service,
                                professionalism and are diversified in automotive
                                repairs. I am impressed with the high quality and service provided. I highly recommend
                                using Mechanicum for all your automotive needs and
                                repairs.</p>
                        </div>
                        <div class="slider-item">
                            <h3>Karl Maxlow</h3>
                            <h4>Mechanical Engineer</h4>
                            <p>The Garage have been a place that I really trust to bring my vehicles to. One of my prize
                                possession is my 64 Impala SS. I had developed
                                an oil leak somewhere being that my entire undercarriage was coated with oil. Sergio who
                                is one of the Service Managers was awesome in
                                determining that the leak was coming from the valve cover and intake. Initially, I
                                thought it came from the rear seal main, which is a
                                $750-$800 labor repair job. Unlike most shops would have said it was the rear seal main
                                and charge you even though no work was done.
                                However because of the work that was done on the valve cover and intake, the gaskets
                                wasn’t holding up, they were defective. So Mechanicum
                                are honest and have integrity, warranty the labor and parts, which is rare in today’s
                                world. They went as far as to do a complimentary wash
                                of my car.Much respect to Mechanicum crew!</p>
                        </div>
                        <div class="slider-item">
                            <h3>Cait Somber</h3>
                            <h4>Journalist</h4>
                            <p>Very knowlegdeable and helpful. Always informs you before making repairs and gives good
                                reasonable options. Appreciate the time they take to
                                explain or show you the need for the repairs. Would recommend to anyone.</p>
                        </div>
                        <div class="slider-item">
                            <h3>Gary Jameson</h3>
                            <h4>Bar owner</h4>
                            <p>Just got done with what I thought was going to be a simple install of some jacking rails
                                on my vehicle, it was not simple.
                                Thankfully I went to Mechanicum and got it done with a little help.
                                I can’t even imagine how long it would have taken me if I had tried to work it all out
                                on my own.</p>
                        </div>
                        <div class="slider-item">
                            <h3>Sylvia Vestoria</h3>
                            <h4>University Professor</h4>
                            <p>Great local shop!!!! Mechanicum is our go to place for all our repairs. They have always
                                treated us fairly and done a great job on our vehicles.
                                I took my son's car there for a pre trip inspection before he drove out West on a great
                                adventure after school. They gave us a list of things
                                to repair for safety reasons and a list of things that we could do but could wait if we
                                wanted to. No high pressure at all.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div th:insert="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>
