<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
    <link href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet">
</head>
<body>

<!-- Menu Bar Start -->
<div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
<div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>
<!-- Menu Bar End -->

<!-- Login Panel Start -->
<div class="container2">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">

                </div>
            </div>
            <div class="card-body"><h5 class="text-warning" th:text="${loginError}"></h5>
                <form action="#" method="POST" th:action="@{/login}" th:object="${loginDto}">
                    <label for="email" class="text-warning">Email</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="email" type="text" class="form-control" placeholder="username" th:field="*{email}">
                    </div>
                    <label for="password" class="text-warning">Password</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input id="password" type="password" class="form-control" placeholder="password"
                               th:field="*{password}">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox"> Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a href="#"
                       class="btn btn-primary rounded-lg border border-primary"
                       data-toggle="modal" data-target="#forgottenPassword">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>

    <!--START OF forgottenPassword MODAL-->
    <div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filter visits</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="forgotten-password-form" th:action="@{/users/forgot}" th:object="${forgottenPassword}"
                          method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" required aria-label="Default" th:field="*{email}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="forgotten-password-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="forgotten-password-form" type="submit" class="btn btn-success">Send email</button>
                </div>
            </div>
        </div>
    </div>
    <!--END OF forgottenPassword MODAL-->

    <!-- Login Panel End -->

    <!-- Footer Start -->
    <div th:insert="fragments/footer.html :: footer"> Irrelevant</div>
    <!-- Footer End -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
    <script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"
            th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
    <script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
    <script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
    <script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>


</div>
</body>
</html>