<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Single customer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><span th:text="${singleUser.firstName}">Foo </span>
                        <span th:text="${singleUser.lastName}"> Bar</span></h2>
                </div>
                <div class="col-12">
                    <span th:text="${singleUser.getUserAuthorization().email}"> Bar</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Content Start -->
    <div class="container">
        <h3 class="text-center">Profile Info</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>User ID</span>
                            <div class="form-control"
                                 th:text="${singleUser.getUserID()}"> 1
                            </div>
                        </div>

                        <div class="form-group text-warning">
                            <span>First Name</span>
                            <div class="form-control"
                                 th:text="${singleUser.getFirstName()}"> Ivan
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Phone</span>
                            <div class="form-control" th:text="${singleUser.getPhone()}">0888567890</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>Email</span>
                            <div class="form-control"
                                 th:text=" ${singleUser.getUserAuthorization().getEmail()}"> test@gmail.com
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Last Name</span>
                            <div class="form-control" th:text="${singleUser.getLastName()}">Ivanov</div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Address</span>
                            <div class="form-control" th:if="${singleUser.getAddress() !=null}"
                                 th:text="${singleUser.getAddress()}"> Sofia
                            </div>
                            <div class="form-control" th:unless="${singleUser.getAddress() !=null}"
                                 th:text="#{visit.completionDate.na}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="mx-2 mt-2">
                    <h5>Profile:
                        <a href="#"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#update">Update</a>
                        <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#delete">Delete</a>
                        <a data-toggle="modal" data-target="#forgottenPassword"
                           class="btn btn-primary rounded-lg border border-primary"
                           th:if="${currentUser.getUserAuthorization().isEmployee()}"
                        >Reset Password</a>
                    </h5>
                </div>
                <div class="mx-2 mt-2">
                    <h5>
                        Reports:
                        <a href="#"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#getReport">Get </a>
                        <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
                           class="btn btn-primary rounded-lg" data-toggle="modal" data-target="#sendReport">Send
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- List of vehicles Start -->


    <div th:if="${visits.isEmpty()}">
        <h2> No visits
            <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#createVisit">Add visit</a></h2>
        <h2 th:text="${searchError}">Search Error</h2>
    </div>
    <div th:unless="${visits.isEmpty()}">
        <h5 class="p-3 ml-2">My Visits
            <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#createVisit">Add visit</a></h5>
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" th:text="#{visits.table.header.id}">ID</th>
                <th scope="col" th:text="#{visits.table.header.customer}">Customer</th>
                <th scope="col" th:text="#{visits.table.header.vehicle}">Vehicle</th>
                <th scope="col" th:text="#{visits.table.header.arrival}">Arrival Date</th>
                <th scope="col" th:text="#{visits.table.header.end}">End Date</th>
                <th scope="col" th:text="#{visits.table.header.totalprice}">Total price</th>
                <th scope="col" th:text="#{visits.table.header.paid}">Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="visit : ${visits}">
                <!--            <a th:href="@{/warehouses/{id}(id=${warehouse.getID()})}"
                   th:text="${warehouse.getID()}">Parcels</a> -->
                <td scope="row">
                    <a class="text-warning" th:href="@{/visits/{visitId}(visitId=${visit.getId()})}"
                       th:text="${visit.getId()}">1</a>
                </td>
                <td scope="row"><a class="text-warning"
                                   th:href="@{/profile/{customerId}(customerId=${visit.getVehicle().getOwner().getUserID()})}"
                                   th:text=" ${visit.getVehicle().getOwner().getUserAuthorization().getEmail()}">Owner</a>
                </td>
                <td scope="row"
                    th:text="${visit.getVehicle().getModel().getManufacturer().getName()}+ ' '+ ${visit.getVehicle().getModel().getModel()}">
                    Insignia
                </td>
                <td scope="row" th:text="${visit.getArrivalDate()}">Arrival Date</td>
                <td scope="row" th:if="${visit.getCompletionDate()!=null}" th:text="${visit.getCompletionDate()}">
                    Licence
                    plate
                </td>
                <td scope="row" th:unless="${visit.getCompletionDate()!=null}" th:text="#{visit.completionDate.na}">
                    Licence
                    plate
                </td>
                <td scope="row" th:if="${visit.getTotalPrice()!=null}"
                    th:text="${visit.getTotalPrice()} +'0 '+ ${visit.getCurrency().getName()}">Total price
                </td>
                <td scope="row" th:unless="${visit.getTotalPrice()!=null}"
                    th:text="'0.00 '+ ${visit.getCurrency().getName()}">Total price
                </td>
                <td scope="row" th:text="${visit.isPaid()}">Paid</td>
            </tr>
            </tbody>
        </table>
        <!-- List of vehicles End -->
    </div>

    <div th:if="${singleUser.getVehicleList().isEmpty()}">
        <h2>No Vehicles
            <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
               th:href="@{/vehicles}"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold">Add vehicle</a>
        </h2>
    </div>
    <div th:unless="${singleUser.getVehicleList().isEmpty()}">
        <h5 class="p-3 ml-2">My Vehicles
        </h5>
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" th:text="#{vehicles.table.header.id}">ID</th>
                <th scope="col" th:text="#{vehicles.table.header.manufacturer}">Manufacturer</th>
                <th scope="col" th:text="#{vehicles.table.header.model}">Model</th>
                <th scope="col" th:text="#{vehicles.table.header.year}">Year</th>
                <th scope="col" th:text="#{vehicles.table.header.licenceplate}">Licence plate</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="vehicle : ${singleUser.getVehicleList()}">
                <!--            <a th:href="@{/warehouses/{id}(id=${warehouse.getID()})}"
                   th:text="${warehouse.getID()}">Parcels</a> -->
                <td scope="row">
                    <a class="text-warning" th:href="@{/vehicles/{vehicleId}(vehicleId=${vehicle.getId()})}"
                       th:text="${vehicle.getId()}">1</a>
                </td>
                <td scope="row" th:text="${vehicle.getModel().getManufacturer().getName()}">Opel</td>
                <td scope="row" th:text="${vehicle.getModel().getModel()}">Insignia</td>
                <td scope="row" th:text="${vehicle.getYear()}">Year</td>
                <td scope="row" th:text="${vehicle.getLicencePlate()}">Licence plate</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Footer Start -->
    <div th:replace="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->

    <!-- START OF UPDATE MODAL-->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-profile-form" action="/visits/create"
                          th:action="@{/profile/update/__${singleUser.getUserID()}__}" method="post"
                          th:object="${userInfoUpdateDto}" autocomplete="off">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">First name</span>
                            </div>
                            <input type="text" class="form-control" required aria-label="Default"
                                   th:field="*{firstName}"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{firstName}"></p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last name</span>
                            </div>
                            <input type="text" class="form-control" required aria-label="Default" th:field="*{lastName}"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{lastName}"></p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone</span>
                            </div>
                            <input type="text" required class="form-control" aria-label="Default" th:field="*{phone}"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{phone}"></p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{address}"
                                   aria-describedby="inputGroup-sizing-default" autocomplete="off">
                            <p th:errors="*{address}"></p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">New Password</span>
                            </div>
                            <input type="password" required class="form-control" aria-label="Default"
                                   th:field="*{password}" autocomplete="off"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{password}"></p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Repeat Password</span>
                            </div>
                            <input type="password" required class="form-control" aria-label="Default"
                                   th:field="*{repeatPassword}" autocomplete="off"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{repeatPassword}"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="update-profile-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="update-profile-form" type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!--END OF UPDATE MODAL-->

    <!--START OF DELETE MODAL-->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="delete-profile-form" th:action="@{/profile/delete/__${singleUser.getUserID()}__}" method="post">
                        <h5>Are you sure you want to delete visit?</h5>
                        <p th:text="${deleteError}"></p></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="delete-profile-form" type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!--END OF DELETE MODAL-->

    <!--START OF ForgottenPassword MODAL-->
    <div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reset password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="reset-password-form" th:action="@{/users/forgot}" th:object="${forgottenPassword}"
                      method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{email}"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                </form>
                <div class="modal-footer">
                    <button form="reset-password-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="reset-password-form" type="submit" class="btn btn-success">Reset password</button>
                </div>
            </div>
        </div>
    </div>
    <!--END OF ForgottenPassword MODAL-->

    <!-- Get Report Start -->
    <div class="modal fade" id="getReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a Visit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="get-report-form" method="post"
                          th:action="@{/profile/__${singleUser.getUserID()}__/reports}" th:object="${reportDto}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Choose currency</span>
                            </div>
                            <select class="custom-select" th:field="*{currency}">
                                <option th:each="c : ${currencies}"
                                        th:value="${c.getName()}"
                                        th:text="${c.getName()}"
                                > this is sample
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Number of visits to generate report</span>
                            </div>
                            <input type="number" min="0" step="1" required class="form-control" aria-label="Default"
                                   th:field="*{numberOfVisits}"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{numberOfVisits}"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="get-report-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="get-report-form" type="submit" class="btn btn-success">Get Report</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Get Report End -->

    <!-- Send Report Start -->
    <div class="modal fade" id="sendReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send report for a visit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/profile/__${singleUser.getUserID()}__/reports/send}"
                          th:object="${reportDto}" id="send-report-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Choose currency</span>
                            </div>
                            <select class="custom-select" th:field="*{currency}">
                                <option th:each="c : ${currencies}"
                                        th:value="${c.getName()}"
                                        th:text="${c.getName()}"> this is sample
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Number of visits to generate report</span>
                            </div>
                            <input type="number" min="0" step="1" required class="form-control" aria-label="Default"
                                   th:field="*{numberOfVisits}"
                                   aria-describedby="inputGroup-sizing-default">
                            <p th:errors="*{numberOfVisits}"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="send-report-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="send-report-form" type="submit" class="btn btn-success">Send Report</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Send Report End -->

    <!-- Start Create modal-->
    <div class="modal fade" id="createVisit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a Visit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-visit-form" action="/visits/create" th:action="@{/visits/create}" method="post"
                          th:object="${visitDto}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="vehicle">Vehicle</label>
                            </div>
                            <select id="vehicle" class="custom-select" th:field="${visitDto.vehicleId}">
                                <option th:each="vehicle : ${singleUser.getVehicleList()}"
                                        th:value="${vehicle.getId()}"
                                        th:text="${'Vehicle: '+vehicle.getModel().getManufacturer().getName()} + ' ' + ${vehicle.getModel().getModel()} + '; Customer: ' + ${vehicle.getOwner().getUserAuthorization().getEmail()}"
                                > this is sample
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="currency">Currency</label>
                            </div>
                            <select id="currency" class="custom-select" th:field="${visitDto.currencyId}">
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.getId()}"
                                        th:text="${currency.name}"> Currency
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="paid">Paid</label>
                            </div>
                            <select id="paid" class="custom-select" th:field="${visitDto.paid}">
                                <option th:value="true"
                                        th:text="True"> Currency
                                </option>
                                <option th:value="false"
                                        th:text="False"> Currency
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="add-visit-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="add-visit-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Create modal-->

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"
        th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>