<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
    <link href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet">
</head>
<body>
<!-- Menu Bar Start -->
<div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
<div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>
<!-- Menu Bar End -->

<!-- Register Panel Start -->
<div class="container">
    <div class="d-flex justify-content-center my-5">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
                <div class="d-flex justify-content-end social_icon">

                </div>
            </div>
            <div class="card-body">
                <h5 th:text="${errors}" class="text-warning"></h5>
                <form action="#" method="POST" th:action="@{/register}" th:object="${registerDto}">

                    <label for="email" class="text-warning">Email *</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input id="email" type="text" class="form-control" required
                               placeholder="Enter your email" th:field="${registerDto.email}">
                    </div>

                    <label for="firstname" class="text-warning">First name *</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="firstname" type="text" class="form-control" required
                               placeholder="Enter your firstname" th:field="*{firstName}">
                    </div>

                    <label for="lastname" class="text-warning">Last name *</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="lastname" type="text" class="form-control" required
                               placeholder="Enter your lastname" th:field="*{lastName}">
                    </div>

                    <label for="phone" class="text-warning">Phone number *</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input id="phone" type="tel" class="form-control"
                               placeholder="0xxxxxxxxx" th:field="*{phone}"
                               pattern="[0]{1}[0-9]{9}"
                               required>
                    </div>

                    <label for="address" class="text-warning">Town</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-city"></i></span>
                        </div>
                        <input id="address" type="text" class="form-control"
                               placeholder="Enter your town name" th:field="${registerDto.address}">
                    </div>

                    <label class="text-warning">Roles *</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${registerDto.customer}"
                               th:value="true" id="flexCheckDefault">
                        <label class="form-check-label text-white pr-4"
                               th:text="Customer" for="flexCheckDefault"> role </label>
                        <input class="form-check-input" type="checkbox" th:field="${registerDto.employee}"
                               th:value="true" id="flexCheckDefault1">
                        <label class="form-check-label text-white pr-4"
                               th:text="Employee" for="flexCheckDefault1"> role </label>
                    </div>
                    <span class="font-italic text-warning"><small>All fields with '*' are required</small></span>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Register Panel End -->

<!-- Footer Start -->
<div th:replace="fragments/footer.html"> Irrelevant</div>
<!-- Footer End -->
</body>
</html>