<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
  <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">

        </div>
      </div>
      <div class="card-body">
        <form action="#" method="POST" th:action="@{/users/reset/__${userId}__}" th:object="${passwords}">
          <label for="email" class="text-warning">Password</label>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="email" type="password" required class="form-control" placeholder="password" th:field="*{password}">
          </div>
          <label for="password" class="text-warning">Repeat Password</label>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input id="password" type="password" required class="form-control" placeholder="repeat password"
                   th:field="*{repeatPassword}">
          </div>
          <div class="form-group">
            <input type="submit" value="Reset" class="btn float-right login_btn">
          </div>
        </form>
      </div>

      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
  <script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
  <script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
  <script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
  <script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>


</div>
</body>
</html>