<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <meta charset="UTF-8">
    <title>Doesn't matter what is written here</title>
    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2> All services that we offer </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service types Info Start -->
    <div class="single">
        <div th:if="${currentUser != null && currentUser.getUserAuthorization().isEmployee()}" class="p-3 ml-2">
            <a href="#"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#create">Create</a>
            <a href="#"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#update">Update</a>
            <a href="#"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#delete">Delete</a>
            <a href="#"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#filter">Filter</a>
        </div>

        <!-- List of services Start -->
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" class="text-warning" th:text="#{service-type.table.header.id}">ID</th>
                <th scope="col" class="text-warning" th:text="#{service-type.table.header.name}">Service type</th>
                <th scope="col" class="text-warning" th:text="#{service-type.table.header.single-price}">Single price
                </th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="type : ${serviceTypes}">
                <td scope="row" th:text="${type.getId()}">1</td>
                <td scope="row" th:text="${type.getName()}">Change oil</td>
                <td scope="row" th:text="${type.getSinglePrice}">120.00</td>
            </tr>
            </tbody>
        </table>
        <!-- List of services End -->

    </div>
    <!-- Service types End -->

    <!-- Start create modal -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new service</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="service-create-form" th:action="@{/services/create}" th:object="${dto}" method="post"
                          action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="create-service-name">Name for new service</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{name}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="create-service-price">Single price</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{singlePrice}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="service-create-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="service-create-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End create modal -->

    <!-- Start update modal -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update service</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="service-update-form" th:action="@{/services/update}" th:object="${dto}" method="post"
                          action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="update-service-name">Service type name</label>
                            </div>
                            <select class="custom-select" id="update-service-name" th:field="*{name}">
                                <option th:each="service : ${serviceTypes}" th:text="${service.getName()}"
                                        th:value="${service.getName()}">One
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="update-service-price">New single price</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{singlePrice}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="service-update-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="service-update-form" type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End update modal -->

    <!-- Start delete modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete service</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="service-delete-form" method="post" th:action="@{/services/delete}" th:object="${id}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="delete-service-name">Service type name</label>
                            </div>
                            <select class="custom-select" id="delete-service-name" th:field="${id.id}">
                                <option th:each="type : ${serviceTypes}"
                                        th:text="${type.getName()}"
                                        th:value="${type.getId()}">
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="service-delete-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="service-delete-form" type="submit" class="btn btn-success">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End delete modal -->

    <!--filter-->
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filter customers</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" th:text="${filterError}"></h5>
                    <form id="service-filter-form" th:action="@{/services/filter}" th:object="${serviceTypeFilterDto}"
                          method="post"
                          action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <p class="input-group-text">Name </p>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{name}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <p class="input-group-text">Single price</p>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                   th:field="${serviceTypeFilterDto.singlePrice}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="service-filter-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="service-filter-form" type="submit" class="btn btn-success">Filter</button>
                </div>
            </div>
        </div>
    </div>


        <!-- Footer Start -->
        <div th:replace="fragments/footer.html"> Irrelevant</div>
        <!-- Footer End -->

    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
    <script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"
            th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
    <script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
    <script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
    <script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>