<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>All Users</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>
<div class="wrapper">
    <!-- Top Bar Start -->
    <!-- Menu Bar Start -->
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 th:text="#{users.big-title}">All users in our application</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- List of customers Start -->
    <div class="p-3 ml-2">
        <a href="#"
           class="btn btn-warning rounded-lg border border-primary font-weight-bold"
           data-toggle="modal" data-target="#filter">Filter</a>
        <a href="#"
           class="btn btn-warning rounded-lg border border-primary font-weight-bold"
           data-toggle="modal" data-target="#sort">Sort</a>
    </div>

    <table class="table table-hover table-dark">
        <h5>All Users</h5>
        <thead>
        <tr style=" ">
            <th scope="col" th:text="#{customers.table.email}">Customer</th>
            <th scope="col" th:text="#{customers.table.name}">Vehicle</th>
            <th scope="col" th:text="#{customers.table.phone}">End Date</th>
            <th scope="col" th:text="#{customers.table.address}">Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr style=" " th:each="user : ${users}">
            <td scope="row"><a class="text-warning"
                               th:href="@{/profile/{customerId}(customerId=${user.getUserID()})}"
                               th:text=" ${user.getUserAuthorization().getEmail()}">Email</a>
            </td>
            <td scope="row" th:text="${user.getFirstName()}+ ' '+ ${user.getLastName()}"> First and Last name</td>
            <td scope="row" th:text="${user.getPhone()}">Phone</td>
            <td scope="row" th:if="${user.getAddress()!=null}" th:text="${user.getAddress()}">Sofia</td>
            <td scope="row" th:unless="${user.getAddress()!=null}" th:text="#{visit.completionDate.na}">N/A</td>
        </tr>
        </tbody>
    </table>
    <!-- List of vehicles End -->

    <!-- Footer Start -->
    <div th:replace="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>


<!--Start filter modal-->
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter customers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="customer-filter-form" method="post"
                      th:object="${userInfoFilterDto}" th:action="@{/users/search}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{email}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{email}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First name</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{firstName}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{firstName}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone number</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{phone}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{phone}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-model-name">Model</label>
                        </div>
                        <select class="custom-select" id="filter-model-name" th:field="*{modelId}">
                            <option selected value="">Any</option>
                            <option th:each="model: ${models}"
                                    th:value="${model.getId()}"
                                    th:text="${model.getModel()}"> Opel
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-manufacturer-name">Manufacturer</label>
                        </div>
                        <select class="custom-select" id="filter-manufacturer-name" th:field="*{makeId}">
                            <option selected value="">Any</option>
                            <option th:each="make : ${makes}"
                                    th:value="${make.getId()}"
                                    th:text="${make.getName()}"> this is sample
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Date from</label>
                        </div>
                        <input class="custom-datepicker" type="text" READONLY th:id="DateFrom" th:field="*{from}"/>
                        <label th:errors="*{from}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Date to</label>
                        </div>
                        <input class="custom-datepicker" type="text" READONLY th:id="DateTo" th:field="*{to}"/>
                        <label th:errors="*{to}"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="customer-filter-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="customer-filter-form" type="submit" class="btn btn-success">Filter</button>
            </div>
        </div>
    </div>
</div>

<!--SORT MODAL-->
<div class="modal fade" id="sort" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sort customers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Please use only one of them</h5>
                <form method="post" id="customer-sort-form"
                      th:object="${customerSortParameters}" th:action="@{/users/sort}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Name</span>
                        </div>
                        <select class="custom-select" th:field="*{name}">
                            <option th:each="str : ${asc}"
                                    th:value="${str}"
                                    th:text="${str}"> this is sample
                            </option>
                        </select>
                        <label th:errors="*{name}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Visit date</label>
                        </div>
                        <select class="custom-select" th:field="*{visitDate}">
                            <option th:each="str : ${asc}"
                                    th:value="${str}"
                                    th:text="${str}"> this is sample
                            </option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button form="customer-sort-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="customer-sort-form" type="submit" class="btn btn-success">Sort</button>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--DATEPICKER!-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--DATEPICKER END!-->
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"
        th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</html>
