<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Single vehicle</title>
    <th:block th:insert="fragments/navigation :: headLinks"> link styles and other</th:block>
</head>
<div class="wrapper">
    <!-- Top Bar Start -->
    <div th:insert="fragments/navigation :: topBar"> Top bar</div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div th:insert="fragments/navigation :: navBar"> Navigation bar</div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><span th:text="${vehicle.getModel().getManufacturer().getName()}">Ferrari </span>
                        <span th:text="${vehicle.getModel().getModel()}"> Aperta</span></h2>
                </div>
                <div class="col-12">
                    <a class="btn btn-primary rounded-lg mt-2 mb-2"
                       th:href="@{/profile/{ownerId}(ownerId = ${vehicle.getOwner().userID})}">
                        <span class="" th:text="${vehicle.getOwner().firstName}">Foo </span>
                        <span class="" th:text="${vehicle.getOwner().lastName}"> Bar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Vehicle Info Start -->
    <div class="single">
        <div class="container">
            <h3 class="text-center">Vehicle Info</h3>
            <div class="row">
                <div class="col-lg-3">
                    <div class="comment-form wow fadeInUp">
                        <form class="bg-transparent">
                            <div class="form-group text-warning">
                                <span>Manufacturer</span>
                                <div class="form-control"
                                     th:text="${vehicle.getModel().getManufacturer().getName()}"> Opel
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <span>Model</span>
                                <div class="form-control"
                                     th:text="${vehicle.getModel().getModel()}"> Insignia
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <span>Year</span>
                                <div class="form-control"
                                     th:text="${vehicle.getYear()}"> 2015
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <span>VIN</span>
                                <div class="form-control"
                                     th:text="${vehicle.getVin()}"> JF1SG65694H711889
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <span>Licence Plate</span>
                                <div class="form-control"
                                     th:text="${vehicle.getLicencePlate()}"> CH3366KH
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <span>Owner</span>
                                <div class="form-control">
                                    <span th:text="${vehicle.getOwner().firstName}">Foo </span>
                                    <span th:text="${vehicle.getOwner().lastName}"> Bar</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="sidebar">
                        <div class="image-widget">
                            <img th:src="${vehicle.getVehicleUrl()}"
                                 src="https://www.supercars.net/blog/wp-content/uploads/2018/02/LaFerrari-Aperta.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mx-2 mt-2" th:if="${currentUser.getUserAuthorization().isEmployee()}">
                        <h5>Modify Vehicle:
                            <a href="#"
                               class="btn btn-primary rounded-lg border border-primary"
                               data-toggle="modal" data-target="#update">Update</a>
                            <a href="#"
                               class="btn btn-primary rounded-lg border border-primary"
                               data-toggle="modal" data-target="#delete">Delete</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- List of services Start -->
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.id}">ID</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.start-date}">Start date</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.end-date}">End date</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.quantity}">Quantity</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.status}">Status</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.service-type}">Service type</th>
                <th scope="col" class="text-warning" th:text="#{vehicle.table.header.visitID}">Visit ID</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="service : ${services}">
                <td scope="row" th:text="${service.getId()}">1</td>
                <td scope="row" th:text="${service.getStartDate()}">14-04-2021</td>
                <td scope="row" th:text="${service.getEndDate()}">17-04-2021</td>
                <td scope="row" th:text="${service.getQuantity()}">2</td>
                <td scope="row" th:text="${service.getServiceStatus().getName()}">In progress</td>
                <td scope="row" th:text="${service.getServiceType().getName()}">Change brakes</td>
                <td scope="row">
                    <a class="text-warning" th:href="@{../visits/{visitId}(visitId=${service.getVisit().getId()})}"
                       th:text="${service.getVisit().getId()}">3</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- List of services End -->

    </div>
    <!-- Vehicle Info End -->

    <!-- Footer Start -->
    <div th:insert="fragments/footer">Footer</div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Start update vehicle modal -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:if="${currentUser.getUserAuthorization().isEmployee()}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update vehicle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="vehicle-create-form" th:action="@{/vehicles/update/__${vehicle.getId()}__}" th:object="${updateDto}"
                      method="post" action="#">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Year</span>
                        </div>
                        <input type="text" required class="form-control" aria-label="Default" th:field="*{year}"
                               aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.year}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Licence Plate</span>
                        </div>
                        <input type="text" required class="form-control" aria-label="Default" th:field="*{licencePlate}"
                               aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.licence-plate}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="vehicle-owner-names">Customers catalogue</label>
                        </div>
                        <select class="custom-select" id="vehicle-owner-names" th:field="*{ownerId}">
                            <option th:each="customer : ${customers}"
                                    th:text="${customer.getFirstName()}+ ' ' +${customer.getLastName()}"
                                    th:value="${customer.userID}">21
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Photo link</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{vehicleUrl}"
                               aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.photo.url}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="vehicle-create-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="vehicle-create-form" type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- End update vehicle modal -->

<!-- Start delete modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete vehicle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="delete-vehicle-form" th:action="@{/vehicles/delete/__${vehicle.getId()}__}" method="post">
                    <h5>Are you sure you want to delete vehicle?</h5>
                </form>
            </div>
            <div class="modal-footer">
                <button form="delete-vehicle-form" type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End delete modal -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</html>
