<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Vehicles</title>
    <th:block th:insert="fragments/navigation :: headLinks"> link styles and other</th:block>
</head>
<body>
<div class="wrapper">
    <!-- Top Bar Start -->
    <div th:insert="fragments/navigation :: topBar"> Top bar</div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div th:insert="fragments/navigation :: navBar"> Navigation bar</div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2> All vehicles in our database </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Buttons start-->
    <div class="container" th:if="${currentUser.getUserAuthorization().isEmployee()}">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h4>Create new manufacturer or model</h4>
                <a href="#"
                   class="btn btn-warning rounded-lg border border-primary font-weight-bold"
                   data-toggle="modal" data-target="#create-make">Create Manufacturer</a>
                <a href="#"
                   class="btn btn-warning rounded-lg border border-primary font-weight-bold"
                   data-toggle="modal" data-target="#create-model">Create Model</a>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Create new personal vehicle</h4>
                <a href="#"
                   class="btn btn-warning rounded-lg border border-primary font-weight-bold"
                   data-toggle="modal" data-target="#create-vehicle">Create Vehicle</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <h4>Filter vehicles by owner</h4>
                <a href="#"
                   class="btn btn-warning rounded-lg border border-primary font-weight-bold"
                   data-toggle="modal" data-target="#filter-vehicles">Filter</a>
            </div>
        </div>
    </div>
    <!-- Buttons end-->

    <!-- List of vehicles Start -->
    <div class="single">
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" th:text="#{vehicles.table.header.id}">ID</th>
                <th scope="col" th:text="#{vehicles.table.header.manufacturer}">Manufacturer</th>
                <th scope="col" th:text="#{vehicles.table.header.model}">Model</th>
                <th scope="col" th:text="#{vehicles.table.header.year}">Year</th>
                <th scope="col" th:text="#{vehicles.table.header.licenceplate}">Licence plate</th>
                <th scope="col" th:text="#{vehicles.table.header.owner}">Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="vehicle : ${vehicles}">
                <!--            <a th:href="@{/warehouses/{id}(id=${warehouse.getID()})}"
                   th:text="${warehouse.getID()}">Parcels</a> -->
                <td scope="row">
                    <a class="text-warning" th:href="@{/vehicles/{vehicleId}(vehicleId=${vehicle.getId()})}"
                       th:text="${vehicle.getId()}">1</a>
                </td>
                <td scope="row" th:text="${vehicle.getModel().getManufacturer().getName()}">Opel</td>
                <td scope="row" th:text="${vehicle.getModel().getModel()}">Insignia</td>
                <td scope="row" th:text="${vehicle.getYear()}">Year</td>
                <td scope="row" th:text="${vehicle.getLicencePlate()}">Licence plate</td>
                <td scope="row"><a class="text-warning"
                                   th:href="@{/profile/{customerId}(customerId=${vehicle.getOwner().getUserID()})}"
                                   th:text="${vehicle.getOwner().getUserAuthorization().getEmail()}">Owner</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- List of vehicles End -->

    <!-- Start create make modal -->
    <div class="modal fade" id="create-make" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:if="${currentUser.getUserAuthorization().isEmployee()}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new manufacturer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="manufacturer-create-form" th:action="@{/manufacturer/create}" th:object="${makeDto}"
                          method="post" action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{name}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="manufacturer-create-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="manufacturer-create-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End create make modal -->

    <!-- Start create make modal -->
    <div class="modal fade" id="create-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:if="${currentUser.getUserAuthorization().isEmployee()}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new model</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="model-create-form" th:action="@{/model/create}" th:object="${modelDto}"
                          method="post" action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="manufacturer-name">Manufacturers</label>
                            </div>
                            <select class="custom-select" id="manufacturer-name" th:field="*{manufacturerId}">
                                <option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.getName()}"
                                        th:value="${manufacturer.getId()}">Opel
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Model</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{model}"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="model-create-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="model-create-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End create make modal -->

    <!-- Start create vehicle modal -->
    <div class="modal fade" id="create-vehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:if="${currentUser.getUserAuthorization().isEmployee()}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new model</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="vehicle-create-form" th:action="@{/vehicles/create}" th:object="${vehicleDto}"
                          method="post" action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="vehicle-make-model-name">Vehicle catalogue</label>
                            </div>
                            <select class="custom-select" id="vehicle-make-model-name" th:field="*{modelId}">
                                <option th:each="vehicle : ${vehicleCatalogue}"
                                        th:text="${vehicle.getManufacturer().getName()}+ ' ' +${vehicle.getModel()}"
                                        th:value="${vehicle.id}">Opel
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Year</span>
                            </div>
                            <input type="text" required class="form-control" aria-label="Default" th:field="*{year}"
                                   aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.year}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">VIN</span>
                            </div>
                            <input type="text" required class="form-control" aria-label="Default" th:field="*{vin}"
                                   aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.vin}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Licence Plate</span>
                            </div>
                            <input type="text" required class="form-control" aria-label="Default" th:field="*{licencePlate}"
                                   aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.licence-plate}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="vehicle-owner-names">Customers catalogue</label>
                            </div>
                            <select class="custom-select" id="vehicle-owner-names" th:field="*{ownerId}">
                                <option th:each="customer : ${customers}"
                                        th:text="${customer.getFirstName()}+ ' ' +${customer.getLastName()}"
                                        th:value="${customer.userID}">21
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Photo link</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" th:field="*{vehicleUrl}"
                                   aria-describedby="inputGroup-sizing-default" th:placeholder="#{vehicles.photo.url}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="vehicle-create-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="vehicle-create-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End create vehicle modal -->

    <!-- Start filter vehicles modal -->
    <div class="modal fade" id="filter-vehicles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:if="${currentUser.getUserAuthorization().isEmployee()}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filter by owner email</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filter-vehicle-form" th:action="@{/vehicles/filter}" th:object="${filterDto}"
                          method="post" action="#">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="ownerId">Manufacturers</label>
                            </div>
                            <select class="custom-select" id="ownerId" th:field="*{ownerId}">
                                <option th:value="0" th:text="#{all-vehicles}">All</option>
                                <option th:each="customer : ${customers}"
                                        th:text="${customer.getUserAuthorization().email}"
                                        th:value="${customer.userID}">12
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="filter-vehicle-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="filter-vehicle-form" type="submit" class="btn btn-success">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End filter vehicles modal -->

    <!-- Footer Start -->
    <div th:replace="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>
