<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Visits</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>
<div class="wrapper">
    <!-- Menu Bar Start -->
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Visit</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- List of vehicles Start -->

    <div class="container">
        <h3 class="text-center">Visit Info</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>Visit ID</span>
                            <div class="form-control"
                                 th:text="${singleVisit.getId()}"> Opel
                            </div>
                        </div>

                        <div class="form-group text-warning">
                            <span>Vehicle</span>
                            <div class="form-control"
                                 th:text="${singleVisit.getVehicle().getModel().getManufacturer().getName()}+ ' '+ ${singleVisit.getVehicle().getModel().getModel()}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>Customer</span>
                            <div class="form-control">
                                <a class="text-warning"
                                   th:href="@{/profile/{customerId}(customerId=${singleVisit.getVehicle().getOwner().getUserID()})}"
                                   th:text=" ${singleVisit.getVehicle().getOwner().getUserAuthorization().getEmail()}">Owner</a>
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Number of Performed Services</span>
                            <div class="form-control" th:text="${services.size()}">1</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>Arrival date</span>
                            <div class="form-control" th:text="${singleVisit.getArrivalDate()}">2021-04-17</div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Total price</span>
                            <div class="form-control">
                                <span th:if="${singleVisit.getTotalPrice()!=null}"
                                      th:text="${singleVisit.getTotalPrice()} +' '+ ${singleVisit.getCurrency().getName()}">Foo </span>
                                <span th:unless="${singleVisit.getTotalPrice()!=null}"
                                      th:text="'0.00 '+ ${singleVisit.getCurrency().getName()}"> 123.32</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="comment-form wow fadeInUp">
                    <form class="bg-transparent">
                        <div class="form-group text-warning">
                            <span>Completion date</span>
                            <div class="form-control">
                                <span th:if="${singleVisit.getCompletionDate()!=null}"
                                      th:text="${singleVisit.getCompletionDate()}">Foo </span>
                                <span th:unless="${singleVisit.getCompletionDate()!=null}"
                                      th:text="#{visit.completionDate.na}"> Bar</span>
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <span>Paid</span>
                            <div class="form-control" th:text="${singleVisit.isPaid()}">false</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mx-2 mt-2">
                    <h5>Modify visit:
                        <a href="#"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#update">Update</a>
                        <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#delete">Delete</a>
                    </h5>
                </div>
                <div class="mx-2 mt-2">
                    <h5> Reports:
                        <a href="#"
                           class="btn btn-primary rounded-lg border border-primary"
                           th:href="@{/visits/__${singleVisit.getId()}__/reports}"> Get </a>
                        <a href="#" th:if="${currentUser.getUserAuthorization().isEmployee()}"
                           class="btn btn-primary rounded-lg border border-primary"
                           data-toggle="modal" data-target="#reportSend">Send </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${services.isEmpty()}">
        <h2 class="p-3 ml-2">
            No Services
            <a href="#"
               th:if="${singleVisit.getCompletionDate()==null && currentUser.getUserAuthorization().isEmployee()}"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#createService">Add Service</a>
        </h2>
    </div>
    <div th:unless="${services.isEmpty()}">
        <h4 class="p-3 ml-2"> Services Performed
            <a href="#"
               th:if="${singleVisit.getCompletionDate() == null  && currentUser.getUserAuthorization().isEmployee()} "
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#createServiceNotEmpty">Add Service</a>
            <a href="#"
               th:if="${singleVisit.getCompletionDate()==null && currentUser.getUserAuthorization().isEmployee()}"
               class="btn btn-warning rounded-lg border border-primary font-weight-bold"
               data-toggle="modal" data-target="#deleteService">Delete Service</a>
        </h4>
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" th:text="#{services.table.id}">ID</th>
                <th scope="col" th:text="#{services.table.startDate}">Customer</th>
                <th scope="col" th:text="#{services.table.endDate}">Vehicle</th>
                <th scope="col" th:text="#{services.table.quantity}">Arrival Date</th>
                <th scope="col" th:text="#{services.table.status}">End Date</th>
                <th scope="col" th:text="#{services.table.type}">Total price</th>
                <th scope="col" th:text="#{services.table.singlePrice}">Total price</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="service : ${services}">
                <td scope="row">
                    <a class="text-warning" th:text="${service.getId()}">1</a>
                </td>
                <td scope="row" th:text="${service.getStartDate()}">14-04-2021</td>
                <td scope="row" th:text="${service.getEndDate()}">17-04-2021</td>
                <td scope="row" th:text="${service.getQuantity()}">2</td>
                <td scope="row" th:text="${service.getServiceStatus().getName()}">In progress</td>
                <td scope="row" th:text="${service.getServiceType().getName()}">Change brakes</td>
                <td scope="row" th:text="${service.getServiceType().getSinglePrice()} + '0 BGN'">Change brakes</td>

            </tr>
            </tbody>
        </table>
        <!-- List of vehicles End -->
    </div>
    <!-- Footer Start -->
    <div th:replace="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- START OF UPDATE MODAL-->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update that visit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-visits-form" action="/visits/create"
                      th:action="@{/visits/update/__${singleVisit.getId()}__}" method="post"
                      th:object="${visitUpdateDto}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="update-currency">Currency</label>
                        </div>
                        <select class="custom-select" id="update-currency" th:field="${visitDto.currencyId}">
                            <option th:each="currency : ${currencies}"
                                    th:value="${currency.getId()}"
                                    th:text="${currency.name}"> Currency
                            </option>
                        </select>
                    </div>
                    <div th:if="${currentUser.getUserAuthorization().isEmployee()}" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="update-paid">Paid</label>
                        </div>
                        <select id="update-paid" class="custom-select" th:field="${visitDto.paid}">
                            <option th:value="true"
                                    th:text="True"> Currency
                            </option>
                            <option th:value="false"
                                    th:text="False"> Currency
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="update-visits-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="update-visits-form" type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>
<!--END OF UPDATE MODAL-->

<!--START OF DELETE MODAL-->
<div id="delete" class="modal">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <form th:action="@{/visits/delete/__${singleVisit.getId()}__}" method="post">
            <h2>Delete Visit</h2>
            <h4>Are you sure you want to delete visit?</h4>
            <p><input type="submit" value="Delete"/>
            <p th:text="${deleteError}"></p></p>
        </form>
    </div>
</div>
<!--END OF DELETE MODAL-->


<!--Report Send-->
<div id="reportSend" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <form method="post" th:action="@{/visits/__${singleVisit.getId()}__/reports}">
            <h5>Are you sure you want to send email to customer ?</h5>
            <p><input type="submit" value="Yes"/></p>
        </form>
        <div class="table text-center">
        </div>
    </div>
</div>

<!-- Start Create ServiceEmpty modal-->
<div class="modal fade" id="createService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create new service</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-service-form" th:action="@{/services/create/__${singleVisit.getId()}__}"
                      th:object="${serviceCreateDto}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Visit ID</span>
                        </div>
                        <select class="custom-select" th:field="${serviceCreateDto.visitId}">
                            <option th:value="${singleVisit.getId()}"
                                    th:text="${singleVisit.getId()}"> 21
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Start date</label>
                        </div>
                        <input class="custom-datepicker" type="text" required th:id="DateFrom" th:field="*{startDate}"/>
                        <label th:errors="*{startDate}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">End date</label>
                        </div>
                        <input class="custom-datepicker" type="text" required th:id="DateTo"
                               th:field="*{endDate}"/></label>
                        <label th:errors="*{endDate}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Service type</span>
                        </div>
                        <select class="custom-select" th:field="${serviceCreateDto.serviceTypeId}">
                            <option th:each="type : ${serviceTypes}"
                                    th:value="${type.getId()}"
                                    th:text="${type.getName()}"> Check oil
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity</span>
                        </div>
                        <input class="form-control" type="number" min="1" step="1"
                               th:field="${serviceCreateDto.quantity}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="create-service-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="create-service-form" type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>
<!--End CreateServiceEmpty modal-->

<!-- Start create Service NotEmpty-->
<div class="modal fade" id="createServiceNotEmpty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter customers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-other-service-form" action="/visits/create"
                      th:action="@{/services/create/__${singleVisit.getId()}__}" method="post"
                      th:object="${serviceCreateDto}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Visit ID</span>
                        </div>
                        <select class="custom-select" th:field="${serviceCreateDto.visitId}">
                            <option th:value="${singleVisit.getId()}"
                                    th:text="${singleVisit.getId()}"> this is sample
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Start date</label>
                        </div>
                        <input class="custom-datepicker" type="text" required th:id="DateFromNotEmpty"
                               th:field="*{startDate}"/>
                        <label th:errors="*{startDate}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">End date</label>
                        </div>
                        <input class="custom-datepicker" type="text" required th:id="DateToNotEmpty"
                               th:field="*{endDate}"/></label>
                        <label th:errors="*{endDate}"></label>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Service type</span>
                        </div>
                        <select class="custom-select" th:field="${serviceCreateDto.serviceTypeId}">
                            <option th:each="type : ${serviceTypes}"
                                    th:value="${type.getId()}"
                                    th:text="${type.getName()}"> Currency
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity</span>
                        </div>
                        <input class="form-control" type="number" min="1" step="1"
                               th:field="${serviceCreateDto.quantity}">
                    </div>
                </form>
                <div class="modal-footer">
                    <button form="create-other-service-form" type="reset" class="btn btn-danger">Reset</button>
                    <button form="create-other-service-form" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End create Service NotEmpty modal-->

<!-- Start delete service modal-->
<div class="modal fade" id="deleteService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete service</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="delete-service-form" th:action="@{/services/visit/delete/__${singleVisit.getId()}__}"
                      th:object="${deleteServiceDto}" method="post">
                    <select class="custom-select" id="delete-service-name" th:field="${deleteServiceDto.id}">
                        <option th:each="type : ${singleVisit.getServiceList()}"
                                th:text="${type.getServiceType().getName()}"
                                th:value="${type.getId()}">
                        </option>
                    </select>
                    <h5 class="pt-4">Are you sure you want to delete service from visit?</h5>
                    <p th:text="${deleteError}"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button form="delete-service-form" type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- End delete service modal-->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--DATEPICKER!-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--DATEPICKER END!-->
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"
        th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</html>
