<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Visits</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <th:block th:insert="fragments/navigation.html :: headLinks"></th:block>
</head>
<div class="wrapper">
    <!-- Top Bar Start -->
    <!-- Menu Bar Start -->
    <div th:insert="fragments/navigation.html :: topBar"> Irrelevant</div>
    <div th:insert="fragments/navigation.html :: navBar"> Irrelevant</div>


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>All Visits</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- List of vehicles Start -->
    <div class="p-3 ml-2">
        <a href="#"
           class="btn btn-warning rounded-lg border border-primary font-weight-bold"
           data-toggle="modal" data-target="#create">Create</a>
        <a href="#"
           class="btn btn-warning rounded-lg border border-primary font-weight-bold"
           data-toggle="modal" data-target="#filter">Filter</a>
    </div>

    <div th:if="${visits.isEmpty()}">
        <h2 class="p-3 ml-2" th:text="#{visits.table.title.empty}">No Visits</h2>
        <h2 class="p-3 ml-2" th:text="${searchError}">Search Error</h2>
    </div>
    <div th:unless="${visits.isEmpty()}">
        <table class="table table-hover table-dark">
            <thead>
            <tr style=" ">
                <th scope="col" th:text="#{visits.table.header.id}">ID</th>
                <th scope="col" th:text="#{visits.table.header.customer}">Customer</th>
                <th scope="col" th:text="#{visits.table.header.vehicle}">Vehicle</th>
                <th scope="col" th:text="#{visits.table.header.arrival}">Arrival Date</th>
                <th scope="col" th:text="#{visits.table.header.end}">End Date</th>
                <th scope="col" th:text="#{visits.table.header.totalprice}">Total price</th>
                <th scope="col" th:text="#{visits.table.header.paid}">Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr style=" " th:each="visit : ${visits}">
                <td scope="row">
                    <a class="text-warning" th:href="@{/visits/{visitId}(visitId=${visit.getId()})}"
                       th:text="${visit.getId()}">1</a>
                </td>
                <td scope="row"><a class="text-warning"
                                   th:href="@{/profile/{customerId}(customerId=${visit.getVehicle().getOwner().getUserID()})}"
                                   th:text=" ${visit.getVehicle().getOwner().getUserAuthorization().getEmail()}">Owner</a>
                </td>
                <td scope="row"
                    th:text="${visit.getVehicle().getModel().getManufacturer().getName()}+ ' '+ ${visit.getVehicle().getModel().getModel()}">
                    Insignia
                </td>
                <td scope="row" th:text="${visit.getArrivalDate()}">Arrival Date</td>
                <td scope="row" th:if="${visit.getCompletionDate()!=null}" th:text="${visit.getCompletionDate()}">
                    Licence
                    plate
                </td>
                <td scope="row" th:unless="${visit.getCompletionDate()!=null}" th:text="#{visit.completionDate.na}">
                    Licence
                    plate
                </td>
                <td scope="row" th:if="${visit.getTotalPrice()!=null}"
                    th:text="${visit.getTotalPrice()} +'0 '+ ${visit.getCurrency().getName()}">Total price
                </td>
                <td scope="row" th:unless="${visit.getTotalPrice()!=null}"
                    th:text="'0.00 '+ ${visit.getCurrency().getName()}">Total price
                </td>
                <td scope="row" th:text="${visit.isPaid()}">Paid</td>
            </tr>
            </tbody>
        </table>
        <!-- List of vehicles End -->
    </div>
    <!-- Footer Start -->
    <div th:replace="fragments/footer.html"> Irrelevant</div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Start Create modal-->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a Visit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-visit-form" action="/visits/create"
                      th:action="@{/visits/create}" method="post" th:object="${visitDto}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="vehicle">Currency</label>
                        </div>
                        <select id="vehicle" class="custom-select" th:field="${visitDto.vehicleId}">
                            <option th:each="vehicle : ${vehicles}"
                                    th:value="${vehicle.getId()}"
                                    th:text="${'Vehicle: '+vehicle.getModel().getManufacturer().getName()} + ' ' + ${vehicle.getModel().getModel()} + '; Customer: ' + ${vehicle.getOwner().getUserAuthorization().getEmail()}">
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="currency">Currency</label>
                        </div>
                        <select id="currency" class="custom-select" th:field="${visitDto.currencyId}">
                            <option th:each="currency : ${currencies}"
                                    th:value="${currency.getId()}"
                                    th:text="${currency.name}"> Currency
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="paid">Paid</label>
                        </div>
                        <select id="paid" class="custom-select" th:field="${visitDto.paid}">
                            <option th:value="true"
                                    th:text="True"> Currency
                            </option>
                            <option th:value="false"
                                    th:text="False"> Currency
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="create-visit-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="create-visit-form" type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>
<!--End Create modal-->

<!--FIlter-->
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter visits</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="filter-visits-form" th:object="${userInfoFilterDto}" method="post"
                      th:action="@{/visits/search}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{email}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{email}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First name</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{firstName}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{firstName}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone number</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" th:field="*{phone}"
                               aria-describedby="inputGroup-sizing-default">
                        <label th:errors="*{phone}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-model-name">Model</label>
                        </div>
                        <select class="custom-select" id="filter-model-name" th:field="*{modelId}">
                            <option selected value="">Any</option>
                            <option th:each="model: ${models}"
                                    th:value="${model.getId()}"
                                    th:text="${model.getModel()}"> this is sample
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-manufacturer-name">Manufacturer</label>
                        </div>
                        <select id="filter-manufacturer-name" class="custom-select" th:field="*{makeId}">
                            <option selected value="">Any</option>
                            <option th:each="make : ${makes}"
                                    th:value="${make.getId()}"
                                    th:text="${make.getName()}"> this is sample
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Date from</label>
                        </div>
                        <input class="custom-datepicker" type="text" READONLY th:id="DateFrom" th:field="*{from}"/>
                        <label th:errors="*{from}"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Date to</label>
                        </div>
                        <input class="custom-datepicker" type="text" READONLY th:id="DateTo" th:field="*{to}"/>
                        <label th:errors="*{to}"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="filter-visits-form" type="reset" class="btn btn-danger">Reset</button>
                <button form="filter-visits-form" type="submit" class="btn btn-success">Filter</button>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--DATEPICKER!-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--DATEPICKER END!-->
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"
        th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/isotope/isotope.pkgd.min.js" th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script src="../static/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/slick/slick.min.js" th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</html>
