<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
</head>
<body>
<h2><a
        class="u-button-style u-nav-link u-text-active-black u-text-black u-text-hover-grey-70"
        href="index.html" th:href="@{/}" style="padding: 10px;">Home</a></h2>
<h3  th:text="${error}">Error placeholder</h3>
</body>
</html>