<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doesn't matter what is written here</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<!-- Footer Start -->
<div class="footer wow fadeIn" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="footer-contact">
                    <h2 class="col-md-12 d-flex justify-content-center">Office Contact</h2>
                    <div class="col-md-12 justify-content-center">
                        <span class="footer-social"><i class="fa fa-map-marker-alt footer-contact-icon"></i>Mordor, cave 1 right of the Eye</span>
                        <span class="footer-social"><i class="fa fa-phone-alt footer-contact-icon"></i>+359 888 888 888</span>
                        <span class="footer-social"><i class="fa fa-envelope footer-contact-icon"></i>mechanicum.project@gmail.com</span>
                        <span class="footer-social"><a href=""><i class="fab fa-twitter"></i></a></span>
                        <span class="footer-social"><a href=""><i class="fab fa-facebook-f"></i></a></span>
                        <span class="footer-social"><a href=""><i class="fab fa-youtube"></i></a></span>
                        <span class="footer-social"><a href=""><i class="fab fa-instagram"></i></a></span>
                        <span class="footer-social"><a href=""><i class="fab fa-linkedin-in"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="container footer-menu">-->
<!--        <div class="f-menu">-->
<!--            <a href="">Terms of use</a>-->
<!--            <a href="">Privacy policy</a>-->
<!--            <a href="">Cookies</a>-->
<!--            <a href="">Help</a>-->
<!--            <a href="">FQAs</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">Mechanicum</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="#">Alpha 25 - Team 9</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

</body>
</html>