<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headLinks">
    <meta charset="UTF-8">
    <title>Doesn't matter what is written here</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/flaticon/font/flaticon.css" th:href="@{/lib/flaticon/font/flaticon.css}" rel="stylesheet">
    <link href="../../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../../static/lib/lightbox/css/lightbox.min.css" th:href="@{/lib/lightbox/css/lightbox.min.css}"
          rel="stylesheet">
    <link href="../../static/lib/slick/slick.css" th:href="@{/lib/slick/slick.css}" rel="stylesheet">
    <link href="../../static/lib/slick/slick-theme.css" th:href="@{/lib/slick/slick-theme.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!-- Top Bar Start -->
<div class="top-bar" th:fragment="topBar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a href="index.html" th:href="@{/}">
                        <h1 th:text="#{application.name}">Mechanicum</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="flaticon-calendar"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3 th:text="#{navbar.work.address}">Opening Hour</h3>
                                <p th:text="#{navbar.work.time}">Mon - Fri, 8:00 - 18:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="flaticon-call"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3 th:text="#{navbar.number.text}">Call Us</h3>
                                <p th:text="#{navbar.number}">+0359 888 888 888</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="flaticon-send-mail"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3 th:text="#{navbar.email.name}">Email Us</h3>
                                <p th:text="#{navbar.email}">mechanicum.project@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="nav-bar" th:fragment="navBar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <!-- Everyone -->
                    <a href="index.html" class="nav-item nav-link active" th:href="@{/}">Home</a>
                    <a href="services.html" class="nav-item nav-link"
                       th:if="${currentUser == null || !currentUser.getUserAuthorization().isEmployee()}"
                       th:href="@{/services}">Services offered</a>
                    <!-- Employees only -->
                    <a href="users.html" class="nav-item nav-link"
                       th:if="${currentUser != null && currentUser.getUserAuthorization().isEmployee()}"
                       th:href="@{/users}">Customers</a>
                    <a href="vehicles.html" class="nav-item nav-link"
                       th:if="${currentUser != null && currentUser.getUserAuthorization().isEmployee()}"
                       th:href="@{/vehicles}">Vehicles</a>
                    <div class="nav-item dropdown"
                         th:if="${currentUser != null && currentUser.getUserAuthorization().isEmployee()}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
                        <div class="dropdown-menu">
                            <a href="visits.html" class="dropdown-item nav-item nav-link" th:href="@{/visits}">Services performed</a>
                            <a href="services.html" class="dropdown-item nav-item nav-link" th:href="@{/services}">Services offered</a>
                        </div>
                    </div>
                    <!-- Customers only -->
                    <a href="vehicles.html" class="nav-item nav-link"
                       th:if="${currentUser != null && !currentUser.getUserAuthorization().isEmployee()}"
                       th:href="@{/users/__${currentUser.getUserID()}__/vehicles}">Vehicles</a>
                    <!-- Logged in Customer/Employee -->
                    <a href="profile.html" class="nav-item nav-link"
                       th:if="${currentUser != null}"
                       th:href="@{/profile/__${currentUser.getUserID()}__}">Profile</a>
                </div>
            </div>
            <!-- Logged only -->
            <a class="btn ml-3"  href="#"
               th:if="${currentUser != null && currentUser.getUserAuthorization().isEmployee()}"
               th:href="@{/register}">Register User</a>
            <a class="btn ml-3" href="#"
               th:if="${currentUser != null}"
               th:href="@{/logout}">Logout</a>
            <!-- Not logged only -->
            <a class="btn ml-3" href="#"
               th:if="${currentUser == null}"
               th:href="@{/login}">Login</a>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->
</body>
</html>